{% extends 'base.html' %}

{% block title %}ログイン{% endblock title %}

{% block active_login %}active{% endblock %}

{% block content %}
<main class="px-3">
    <div class="container py-5">
        <h1 class="text-center">ログイン</h1>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}

                <p>{{ form.login }}</p>
                <p>{{ form.password }}</p>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p><button class="btn btn-outline-secondary mt-2" type="submit">ログイン</button></p>
                <p><a class="btn btn-outline-secondary mt-2" href="{% url 'account_reset_password' %}" role="button">パスワードを忘れた方</a></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}