{% extends 'base.html' %}

{% block title %}パスワードリセットリンク{% endblock title%}

{% block content %}
<main class="px-3">
    <div class="container py-5">
        <h1 class="text-center">{% if token_fail %}不正トークン{% else %}パスワード再設定{% endif %}</h1>
        {% if token_fail %}
        <div class="d-flex align-items-center justify-content-center mt-5">
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>このパスワード再設定用リンクは無効になっています。</p>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <p><a class="btn btn-outline-secondary" href="{{ passwd_reset_url }}" role="button">パスワードリセット再申請</a></p>
        </div>
        {% else %}
            {% if form %}
            <div class="d-flex align-items-center justify-content-center mt-5">
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button class="btn btn-outline-secondary mt-2" type="submit">変更</button>
                </form>
            </div>
            {% else %}
                <p class="text-center">パスワードは変更されています。</p>
            {% endif %}
        {% endif %}

    </div>
</main>
{% endblock content %}