{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock title%}

{% block content %}
<main class="px-3">
    <div class="container py-5">
        <h1 class="text-center">パスワード再設定</h1>
        <p class="mt-5 text-center">パスワード再設定用メールを送信します。</p>
        <div class="d-flex align-items-center justify-content-center mt-5">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                {{ form.as_p }}
                <p><button class="btn btn-outline-secondary mt-2" type="submit">送信</button></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}