{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock title%}

{% block content %}
<main class="px-3">
    <div class="container py-5">
        <h1 class="text-center">パスワード再設定</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="text-center py-5"
            <p>パスワード再設定用のメールを送信しました。</p>
            <p>届いたメールに記載のリンクから、再設定を行って下さい。</p>
        </div>
    </div>
</main>
{% endblock content %}
