{% extends 'base.html' %}

{% block title %}サインアップ{% endblock %}

{% block active_signup %}active{% endblock %}

{% block content %}
<main class="px-3">
    <div class="container py-5">
        <h1 class="text-center">ユーザー登録</h1>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <p><button class="btn btn-outline-secondary mt-2" type="submit">登録</button></p>

            </form>
        </div>
    </div>
</main>
{% endblock content %}