{% extends 'base.html' %}

{% block content %}
<main class="px-3">
  <div class="container py-5">
    <h1 class="text-center">ログイン後メニュー</h1>
    <div class="text-center mt-3">
      <span><a class="btn btn-outline-secondary" href="{% url 'orikomi:orikomi_create' %}" role="button">オリコミする</a></span>
      <span><a class="btn btn-outline-secondary" href="{% url 'account_logout' %}" role="button">ログアウト</a></span>
    </div>
    <div class="card-deck mt-3">
      <div class="row">
        {% for item in object_list %}
        <div class="col-sm-4 py-2">
          <div class="card h-100">
            <img src="{{ item.front_imege.url }}" alt="front_image" class="card-img-top" >
            <div class="card-body">
              <p class="card-text"><a href="{% url 'orikomi:orikomi_detail' item.pk %}">公演名：{{ item.title }}</a></p>
              <p class="card-text">上演日：{{ item.start_day }}〜{{ item.end_day }}</p>
            </div>
          </div>
        </div>

        {% empty %}
        <p class="text-center mt-5">折り込みがありません。</p>
        {% endfor %}
      </div>
    </div>

    {% include "paginate.html" %}

  </div>
</main>
{% endblock content %}