{% extends 'base.html' %}

{% block content %}
<p>ログイン後メニュー</p>

{% for item in object_list %}

<p><a href="{% url 'orikomi:orikomi_detail' item.pk %}">公演名：{{ item.title }}</a></p>
<p>上演日：{{ item.start_day }}〜{{ item.end_day }}</p>

{% empty %}
<p>折り込みがありません。</p>
{% endfor %}

{% if is_paginated %}
<nav>
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
  {% endif %}

  {% for num in paginator.page_range %}
  {% if page_obj.number == num %}
  <span>{{ num }}</span>
  {% else %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">次へ</a>
  {% endif %}
</nav>
{% endif %}

<p><a href="{% url 'orikomi:orikomi_create' %}">オリコミする</a></p>
<p><a href="{% url 'account_logout' %}">ログアウト</a></p>

{% endblock content %}