{% extends 'base.html' %}

{% block content %}
<!-- <form id="search-form" action="{% url 'orikomi:orikomi_watch' %}" method="GET">
    <div class="inline-checkbox">
        <p>地域：{{ search_form.area }}</p>
        <p>ジャンル：{{ search_form.genre }}</p>
    </div>
    <button type="submit" id="search-button">検索</button>
</form> -->

<form action="{% url 'orikomi:orikomi_watch' %}" method="GET">
    <input type="search" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
        <div class="inline-checkbox">
            <p>地域：{{ query.area }}</p>
            <p>ジャンル：{{ query.genre }}</p>
        </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
  </form>

{% if query %}
{{ query }}
{% endif %}

{% endblock content %}
